#dark-mode-toggle:checked + main {
  --bg-color: #26242E;
  --text-color: #FFF;
}

:root {
  --bg-color: #FFF;
  --text-color: #000;
}

main {
  background-color: var(--bg-color);
  color: var(--text-color);
}
